.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/.idea/*
*.iml
*/a300keys.properties
*/micronet-platform.keystore
*/micronet-treqr5-platform.keystore
*/obc5keys.properties
*/treqr5platformkey.properties