<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.system"
    package="com.micronet.dsc.resetrb">

    <permission android:name="com.micronet.dsc.resetRB.resetClient" android:label="Reset Redbend Client" android:protectionLevel="signature"/>

    <uses-permission android:name="com.micronet.dsc.resetRB.resetClient" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- Service receives requests from other apps like ATS -->
        <!-- DS 2016-08-31: We should require the above permission in order to use this service, since it will be system app, this app can create the permission first -->

        <service
            android:name=".ResetRBService"
            android:enabled="true"
            >
            <intent-filter>
                <action android:name="com.micronet.dsc.resetRB.reset" />
                <action android:name="com.micronet.dsc.resetRB.ping" />
                <action android:name="com.micronet.dsc.resetRB.setUnlockPeriod" />
            </intent-filter>
        </service>


        <!-- Receives events that mean the installation locks should be re-calculated -->
        <receiver android:name=".InstallationLocksReceiver"
            android:enabled="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="com.micronet.dsc.resetRB.alarm.relockInstall"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>


        <!-- Receives messages from the Redbend Client itself, containing its version, etc. -->
        <receiver android:name=".RBCReceiver"
            android:enabled="true"
            >
            <intent-filter>
                <action android:name="com.redbend.client.micronet.STARTING"/>
            </intent-filter>
        </receiver>

        <!-- Receives broadcast on boot to start Communitake and Modem Updater services -->
        <!-- Also receives broadcast on updated ResetRB and newly added LTE Modem Updater -->
        <receiver android:name=".modemupdater.ModemUpdaterReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver android:name=".modemupdater.UpdateSuccessfulReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.micronet.dsc.resetrb.modemupdater.UPDATE_SUCCESSFUL"/>
            </intent-filter>
        </receiver>

        <service android:name=".modemupdater.ModemUpdaterService"
            android:enabled="true">
        </service>
        <service android:name=".modemupdater.ModemUpdaterCleanUpService"
            android:enabled="true">
        </service>
    </application>

</manifest>
